node_modules/
jspm_packages/
web_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist/
build/
out/
release/
*.asar

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

.npm
.eslintcache
.stylelintcache
.node_repl_history
.cache/
.parcel-cache/
.next/
.nuxt/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
